<div class='detail-msg-tab'>
	<div class='tab-content'> 
		<ul class='clear'>
		    <li ng-click="click('住院病人统计')"><a href="javascript:;">住院病人统计</a></li>
		    <li ng-click="click('门急诊统计')"><a href="javascript:;">门急诊统计</a></li>
			<li ng-click="click('挂号统计')"><a href="javascript:;">挂号统计</a></li>
			<li ng-click="click('年度指标')"><a href="javascript:;">年度指标</a></li>
			<li ng-click="click('科室排班')"><a href="javascript:;">科室排班</a></li>
		</ul>
	</div>
	<div class='msg-content' ng-bind="data"></div>
</div>