<div class="index-head clear">
	<div class='east-log'>
		<img src="../../image/logo.png">
	</div>
    <div class='wrapper'>
    	<ul class="clear">
    		<li class="_nav_main_home">
    			<a href="javascript:;">首页</a>
    		</li>
    		<li class="_nav_main_home">
    			<a href="javascript:;">首页</a>
    		</li>
    		<li class="_nav_main_home">
    			<a href="javascript:;">首页</a>
    		</li>
    		<li class="_nav_main_home">
    			<a href="javascript:;">首页</a>
    		</li>
    		<li class="_nav_main_home">
    			<a href="javascript:;">首页</a>
    		</li>
    	</ul>
    </div>
</div>